<h1><%= @list.name %></h1>

<h2>Movies in list:</h2>
<ul>
  <% @movies.each do |movie| %>
    <li>
      <%= movie.title %>
      <%# link_to "ðŸ—‘ï¸", bookmark_path(bookmark), method: :delete, data: { confirm: 'Are you sure lil bro bro?' } %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add a movie', new_list_bookmark_path(@list) %>
